.cronologia-div{
  background-color: black;
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .personaje {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
  }
  
  .image img {
    width: 100px;
    height: 100px;
    object-fit: cover; 
    border-radius: 50px;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .name {
    font-size: 20px;
    font-family: 'GameOfThrones';
    margin-bottom: 5px;
    color: white;
  }
  
  .age {
    font-size: 16px;
    color: white;
  }

  .banderas {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
  }

  .idioma{
    border-radius: 5px;
    cursor: pointer;
  }

  .inicioimg{
    width: auto;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .order{
    font-size: 20px;
    font-family: 'GameOfThrones';
    color: white;
    width: 300px;
  }

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background-color: #252525;
  border-radius: 10px;
}