.home-div{
    background-image: url(../../public/img/tronoHierro.png);
    height: 80vh;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    color: white;
    font-family: 'GameOfThrones';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    font-size: 80px;
}

.banderas {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
  }

  .idioma{
    border-radius: 5px;
    cursor: pointer;
  }